@font-face {
	font-family:"nanum";
	src:url('../fonts/NanumGothic.eot');
	src:url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:"nanumB";
	src:url('../fonts/NanumGothicBold.eot');
	src:url('../fonts/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothicBold.woff') format('woff');
}
@font-face {
	font-family:"nanumEB";
	src:url('../fonts/NanumGothicExtraBold.eot');
	src:url('../fonts/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumGothicExtraBold.woff') format('woff');
}

@font-face {
	font-family:"barun";
	src:url('../fonts/NanumBarunGothic.eot');
	src:url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumBarunGothic.woff') format('woff');
}

@font-face {
	font-family:"barunB";
	src:url('../fonts/NanumBarunGothicBold.eot');
	src:url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NanumBarunGothicBold.woff') format('woff');
}

@font-face {
  font-family: "Noto Sans KR";
   src: url("../fonts/NotoSans-Thin.eot"); /* IE9 Compat Modes */
   src: url("../fonts/NotoSans-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Thin.woff") format("woff"), /* Modern Browsers */
	   url("../fonts/NotoSans-Thin.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: "Noto Sans KR";
   src: url("../fonts/NotoSans-Light.eot"); /* IE9 Compat Modes */
   src: url("../fonts/NotoSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Light.woff") format("woff"), /* Modern Browsers */
	   url("../fonts/NotoSans-Light.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/NotoSans-Regular.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSans-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Medium.woff") format("woff"), /* Modern Browsers */
	   url("../fonts/NotoSans-Medium.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: "Noto Sans KR";
   src: url("../fonts/NotoSans-Bold.eot"); /* IE9 Compat Modes */
   src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Bold.woff") format("woff"), /* Modern Browsers */
	   url("../fonts/NotoSans-Bold.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: "Noto Sans KR";
   src: url("../fonts/NotoSans-Black.eot"); /* IE9 Compat Modes */
   src: url("../fonts/NotoSans-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/NotoSans-Black.woff") format("woff"), /* Modern Browsers */
	   url("../fonts/NotoSans-Black.otf")  format("truetype"), /* Safari, Android, iOS */
       
  font-style:   normal;
  font-weight:  900;
}