.section {background-size: auto; background-position: center center; background-repeat: no-repeat;}

.main01 {background-image: url("../images/main/main01.gif");}
.main02 {background-image: url("../images/main/manifesto1.gif");}
.main03 {background-image: url("../images/main/manifesto2.gif");}
.main04 {background-image: url("../images/main/manifesto3.gif");}

.main01 h2 {text-align: center;margin-top: 0px;margin-left: 0px; }
.main02 h2 {text-align: left;margin-left: 0px;;}
.main03 h2 {text-align: top;margin-top: 0px ;left;margin-left: 0px;;}
.main04 h2 {text-align: left;margin-left: 0px;;}
#portfolio {position: absolute; width: 100%;height: 100% ; background-repeat: no-repeat;background-position: center center;background-image: url("../images/main/bgPortfolio.jpg");overflow: hidden;}
#visualDesign02 {position: absolute; width: 100%;height: 100% ; background-repeat: no-repeat;background-position: center center;background-image: url("../images/main/bgPortfolio.jpg");overflow: hidden;}
#portfolio .snb {width: 800x;margin: 200px auto 0;}
#portfolio .snb li {width: 27.33%;float: left;text-align: center;position: relative;}
#portfolio .branding{margin-left: 8vw; margin-top: 1.5vw;}
#portfolio .ui, .editorial {margin-left: 2vw; margin-top: 1.5vw;}


#portfolio .snb li a {display: inline-block;width: 24.3vw; height: 30vw;}
#portfolio .snb li:nth-child(1) a {background-image: url("../images/layout/branding_icon.gif");background-size: 90%; background-position:; margin-top: 2.3vw;}
#portfolio .snb li:nth-child(1) a {background-repeat: no-repeat;}
#portfolio .snb li:nth-child(2) a {background-image: url("../images/layout/uiux_icon.gif"); background-size: 100%; background-position:;}
#portfolio .snb li:nth-child(2) a{background-repeat: no-repeat;}
#portfolio .snb li:nth-child(3) a {background-image: url("../images/layout/editorial_icon.gif"); background-size: 90%; background-position:;background-repeat: no-repeat; margin-top: 2.3vw;}
#portfolio .snb li:nth-child(1):hover a {;margin-top: 13px;}
#portfolio .snb li:nth-child(2):hover a {;margin-top: -10px;}
#portfolio .snb li:nth-child(3):hover a {;margin-top: 13px;}

#text h1{text-align: center; position: absolute; z-index: 5; font-family: Georgia, serif; display: inline;}
.top_portfolio, .top_contact{font-family: Georgia, serif; display: inline; position: absolute; z-index: 5; color:#E68892;
margin-top: 6.5vw; margin-left:45.5vw; letter-spacing: 1.6px;font-weight: 650; text-align: center; font-size: 2.1vw;}
.work_list_txt {
    position: absolute; z-index: 5;
}

#text .branding_text, .ui_text, .editorial_text {
    font-family: Georgia, serif; 
    font-size: 1.8vw;
    letter-spacing: 2px;
    font-weight: 550;
}
@media (max-width: 1439px) {
#text .branding_text, .ui_text, .editorial_text {
      margin-top: 42.5vw;
    }
}@media (min-width: 1440px) {
#text .branding_text, .ui_text, .editorial_text {
      margin-top: 37.5vw;
    }
}
@media (min-width: 1600px) {
#text .branding_text, .ui_text, .editorial_text {
      margin-top: 34vw;
    }
}
#text .branding_text{margin-left: 14.7vw;}
#text .ui_text{margin-left: 46.6vw;}
#text .editorial_text{margin-left: 72.8vw;}
#portfolio h2 {text-align: center;margin: 120px 0 100px;}
#portfolio .mask {margin: auto;overflow: hidden;position: relative;}
#portfolio .mask li {width: auto;}
#portfolio .btnPrev {position: absolute;left:100px;top:50%;transform:translateY(-50%);z-index: 2;}
#portfolio .btnNext {position: absolute;right:100px;top:50%;transform:translateY(-50%);z-index: 2;}
#portfolio .btnBack {position: absolute;top:200px;right:250px;}

#visualDesign {position: absolute;width: 100%;height: 100%;background-repeat: no-repeat;background-position: 50% 0%;background-image: url("../images/main/bgVisualDesign.png");overflow: hidden;}
#visualDesign .snb {width: 1100px;margin: 100px auto 0;}
#visualDesign .snb li {width: 33.33%;float: left; text-align: center;position: relative;}
#visualDesign .snb li a {display: inline-block;width: 20vw;;height: 30vw;}
#visualDesign .snb li:hover a {margin-top: -10px;}


.visualDesignWrap {width: 1300px;margin: 110px auto 0;}
.visualDesignWrap .visualDesign {float: left;width:823px;margin-top: 10px;}
.visualDesignWrap .desc {float: right;margin-top: 16px;}
.visualDesignWrap .pager {background-size: width: 80px; float: left; margin-top:16px;}
.visualDesignWrap .swiper-pagination-bullet {float: left; width: 250px;height: auto;margin-left: 10px;}
.visualDesignWrap .swiper-pagination-bullet:first-child {float: left; margin-left: 10px;}



/**About page new**/
#about .form img{position: relative; z-index: -2; float: left;}
#about .form2 img{position: relative;}
.about_top_txt{
    position: absolute; z-index: 1;
}

.about__main__title {position: relative; z-index: 1; display: inline; color: white;}
.about__main__subtxt{position: relative; z-index: 1; display: block;  float:left; font-family: 'Noto Sans KR', sans-serif;}
.about__main__subtxt_r{position: relative;z-index: 1; display: block; font-family: 'Noto Sans KR', sans-serif;}
.about__main__title{position: relative; z-index: 1; font-family: Georgia, serif;display: block; }
.about__main__top{font-family: Georgia, serif; color: #1E88A7; width: 100%; text-align:center; }

.about__main__top {
    font-size: 2.0vw;
    text-align: center;
    justify-content: center;
    margin-top: 6.3vw;
    margin-left: 10.2vw;
}
  .about__main__title {
    font-size: 4vw;
    margin-left: 16vw;
    margin-top: 21vw;
}
  .about__main__subtxt {
    font-size: 1.4vw;
    padding-top: 1.2vw;
    margin-left: 16vw;
    color: white;
    font-weight: 350;
 }
  .about__main__subtxt_r {
    font-size: 1.3vw;
    line-height: 1.5;
    margin-top:0.5vw;
    margin-left: 65.5vw;
    color: white;
    font-weight: 600;
}
.about_next_title{
    font-family: Georgia, serif;
    color: #1E88A7;
    font-size: 4.8vw;
    margin-top: 23vw;
    margin-left: 30vw;
}
.about_next_top{
    font-family: 'Noto Sans KR', sans-serif;
    color:#707070;
    font-size: 1.8vw;
    margin-top: 21vw;
    margin-left:-24vw;
    letter-spacing: 0.1vw;
    font-weight: 650;
    
}
.about_next_sub{
    font-family: 'Noto Sans KR', sans-serif;
    color: #707070;
    font-size: 1.2vw;
    margin-top: 31vw;
    margin-left: 21vw;
    text-align: center;
    font-weight: 450;
    
}

@media (max-width: 1599px){
    .me{
    position: absolute;
    z-index: 10;
    display: block;
    margin-top: 89.5vw;
    margin-left: 19vw;
    width: 14%;
    height: auto;
    float: left;
}
}
@media (min-width: 1600px){
    .me{
    position: absolute;
    z-index: 10;
    display: block;
    margin-top: 89.5vw;
    margin-left: 19vw;
    max-width: 100%;
    height: auto;
    float: left;
}
}
.about_last{
    font-family: Georgia, serif;
    color: #1E88A7;
    font-size: 4.8vw;
    margin-top: 71.2vw;
    margin-left: 19vw;
}

/**about animation**/

/**contact**/
#contact {
    background-image: url("../images/layout/contact_bg.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%; 100%;
    float: left;
    z-index: -2;
}
#contact .form img {
    width: 27vw;
    margin-top: 18.4vw;
    margin-left: 13.5vw;
    height: auto;
    overflow: hidden; 
    z-index: 1; 
}
.subject{}
.name{font-family:'Noto Sans KR', sans-serif; color: white; font-size: 1.4vw; 
        position: absolute; margin-top: 22vw; margin-left: 50vw;
    }
.subject{font-family:'Noto Sans KR', sans-serif; color: white; font-size: 1.4vw;
        position: absolute; margin-top: 25vw; margin-left: 50vw;}
.mail{font-family:'Noto Sans KR', sans-serif; color: white; font-size: 1.4vw;
        position: absolute; margin-top: 28vw; margin-left: 50vw;}
.message{font-family:'Noto Sans KR', sans-serif; color: white; font-size: 1.4vw;
        position: absolute; margin-top: 31vw; margin-left: 50vw;
}
.name_btn{
  position: absolute; 
  margin-top: 21vw; 
  margin-left: 56.2vw; 
  padding: 12px 20px;
  width: 37vh;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 0.06vw solid white;
  font-size: 1.1vw;
  font-weight: 350;
}
.subject_btn {
  position: absolute; 
  margin-top: 24vw; 
  margin-left: 56.2vw; 
  padding: 12px 20px;
  width: 37vh;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 0.06vw solid white;
  font-size: 1.1vw;
  font-weight: 350;
}
.mail_btn{
  position: absolute; 
  margin-top: 27vw; 
  margin-left: 56.2vw; 
  padding: 12px 20px;
  width: 37vh;
  border: none;
  background-color: rgba(0,0,0,0);
  border-bottom: 0.06vw solid white;
  font-size: 1.1vw;
  font-weight: 350;
}
.message_btn1{
    width: 25.5vw;
    height: 10vw;
    margin-left: 46.8vw;
    margin-top: 31.5vw;
    position: absolute;
    top: 30px; right: 0; bottom: 30px; left: 60px;
    background:repeating-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) 55px, white 20px, white 56px);
    background-color: rgba(0,0,0,0);
    line-height: 56px;
    font-size: 1.1vw;
    font-weight: 350;
    overflow:hidden;
    background: linear;
    
}

.send{
  background-color: white;
  border: none;
  color: #E36D7C;
  font-size: 3vh;
  box-shadow: 50 42px 50 #E36D7C; 
  letter-spacing: 0.15vh;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0.5vw 3.7vw;
  font-weight: 630;
  text-decoration: none;
  margin: 41.5vw 64.5vw;
  cursor: pointer;
  border-radius: 20em;

  
}
.mail_icon{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2vw;
    color: white;
    font-weight: 450;
    letter-spacing: 0.25px;
    position: absolute;
    margin-top: 39.4vw;
    margin-left: 19.5vw;
}
.mail_icon img{margin-right: 30px;}
.phone_icon{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2vw;
    color: white;
    font-weight: 450;
    letter-spacing: 0.25px;
    position: absolute;
    margin-top: 41.7vw;
    margin-left: 19.5vw;
}
.phone_icon img{margin-right: 30px;}

.desc img{
    margin-top: 5vw;
    background-color: white;
}




